<div class="html">
  {%- if settings.footer_html2_heading != '' -%}
  <h3 class="title">{{settings.footer_html2_heading}}</h3>
  <div class="strip-line"></div>
  {%- endif -%}
  <div class="clearfix">{{settings.footer_html2_custom}}</div>
</div>