<div class="overflow-menu2">
  <div  id="megamenu-{{ section.id }}" class="overflow-menu2" data-section-id="{{ section.id }}" data-section-type="mega-menu">
    {%- section 'header-menu2' -%}
  </div>
</div>