{%- if shop.products_count < 1 -%}
<div class="text-center home-content ">
  <h2 class="title title_center">
    <span>Welcome to your store!</span>
  </h2>
  <p>It looks like you don't have any products yet, would you like to <a href="/admin/products/new">create some now</a>?</p>
</div>
{%- endif -%}
