{%- if settings.pos_content_top_use -%}

{%- comment -%}--- MENU ---{%- endcomment -%}
{%- assign _active_count = 0 -%}
{%- for i in (1..MAX_MENU) -%}
{%- assign m_use 		= 'mmenu_use_' 		| append: i -%}
{%- assign m_pos 		= 'mmenu_pos_' 		| append: i -%}
{%- assign m_layout 		= 'mmenu_layout_' 	| append: i -%}
{%- assign _layout		= settings[m_layout] -%}
{%- assign _layout		= '0' -%}

{%- if _layout == '0' or _layout == CURRENT_LAYOUT -%}
{%- if settings[m_use] and settings[m_pos] == 'content_top' -%}
{%- assign _active_count = _active_count | plus: 1 -%}
{%- endif -%}
{%- endif -%}
{%- endfor -%}

{%- if _active_count > 0 -%}
<div class="overflow-menu2">
  {%- include 'mega-menus' with 'content_top' -%}
</div>
{%- endif -%}

{%- comment -%}--- HOME SLIDER ---{%- endcomment -%}
{%- include 'home-slider' with 'content_top' -%}
{%- comment -%}--- ADVANCED GRID ---{%- endcomment -%}
{%- include 'advanced-grid' with 'content_top' -%}
{%- comment -%}--- LATEST BLOG ---{%- endcomment -%}
{%- include 'latest-blogs' with 'content_top' -%}
{%- comment -%}--- CUSTOM WIDGET ---{%- endcomment -%}
{%- include 'custom-widgets' with 'content_top' -%}
{%- comment -%}--- PRODUCTS TABS ---{%- endcomment -%}
{%- include 'products-tabs' with 'content_top' -%}
{%- comment -%}--- TESTIMONIALS ---{%- endcomment -%}
{%- include 'testimonials' with 'content_top' -%}

{%- endif -%}