<div class="open-categories"></div><div class="close-categories"></div>
<ul>
  {%- for _child in _children -%}
  {%- assign _link = _child.url -%}
  
  {%- assign _mix_tmp = _child.title | strip -%}
  {%- assign _a_mix_tmp = _mix_tmp | split: '[' -%}
  {%- assign _mixed_text = _a_mix_tmp[0] -%}
  {%- assign _class_link = '' -%}
  {%- assign _has_children = false -%}
  {%- assign _handle = _mixed_text -%}
  {% for _tL in linklists %}
  {% if _tL.title == _handle %}
  {% assign _class_link = 'with-submenu' %}
  {% assign _has_children = true %}
  {% assign _cL = _tL %}
  {% break %}
  {% endif %}
  {% endfor %}
	
  {%- assign _mixed_icon_url = "" -%}
  {%- if _a_mix_tmp.size > 1 -%}
  {%- assign _mix_icon_size =  _a_mix_tmp[1].size | minus: 1 -%}
  {%- assign _mixed_icon_url = _a_mix_tmp[1] | slice: 0, _mix_icon_size | asset_url -%}
  {%- endif -%}  
  {%- assign _f_letter = _mixed_text | slice: 0 -%}
  {%- assign _l_letter = _mixed_text | slice: -1, 1 -%}
  {%- if _f_letter != '{' -%}
  {%- assign _mixed_text = _mixed_text | prepend: '{ }' -%}
  {%- endif -%}
  {%- if _l_letter != '}' -%}
  {%- assign _mixed_text = _mixed_text | append: '{ }' -%}
  {%- endif -%}
  {%- assign _texts = _mixed_text | split: '}' -%}
  {%- assign _label = _texts[0] | remove: '{' | strip -%}
  {%- assign _texts = _texts[1] | split: '{' -%}
  {%- assign _name = _texts[0] | strip -%}
  {%- assign _desc = _texts[1] | strip -%}	
  {%- assign _mx_icon_url = '' -%}
  {%- if _mixed_icon_url != '' -%}
  {%- assign _mx_icon_url = '<img class="img-check-required" src="'| append: _mixed_icon_url | append: '">' -%}
  {%- endif -%}	
  {%- assign _html_name = _name -%}
  {%- if _mx_icon_url != '' -%}
  	{%- assign _html_name = _html_name | prepend: _mx_icon_url -%}
  {%- endif -%}
  {%- if _label != '' -%}
  {%- assign _html_name = _html_name | append: '<span class="megamenu-label" style="background:' | append: _label_bg_color | append: '!important;color: ' | append: _label_color | append: '"><span style="background:' | append: _label_bg_color | append: '!important;border-color:' | append: _label_bg_color | append: '"></span>' | append: _label | append: '</span>' -%}
  {%- endif -%}
  
  <li>
    <a href="{{_link}}" class="{{_class_link}}">
      {{_html_name}}
    </a>
    {%- if _has_children == true -%}
    {%- assign _children = _cL.links -%}
    {%- include 'slider-mega-menu-content-linklist-rtl-children' -%}
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>