{%- if section.settings.bg_color != blank -%}
<style>
  #empty_space_{{section.id}} {
    background-color: {{section.settings.bg_color}}
  }
</style>
{%- endif -%}
{%- assign empty_space = section.settings.height | plus:0 -%}
{%- if empty_space > 0 -%}
<div id="empty_space_{{section.id}}" class="row empty_space" style="height:{{ empty_space }}px"><span class="empty_space_inner"></span></div>
{%- endif -%}

{% schema %}
  {
    "name": "Empty Space",
	
    "settings": [
      {
        "type": "text",
        "id": "height",
        "label": "Height (px)",
        "default": "40"
      },
	  {
		"type": "color",
		"id": "bg_color",
		"label": "Background Color"
	  }
    ],
    "presets": [
      {
        "name": "Empty Space",
        "category": "Others"
      }
    ]
  }
{% endschema %}