<div id="content" class="col-md-12 center-column content-with-background">
  <div class="row">
    <div class="col-sm-12">
      {%- section "collection-brands" -%}
      {%- section "products-tabs" -%}
    </div>
  </div>
</div>