<div id="content" class="col-md-12 center-column content-with-background">
  <div class="row">
    <div class="col-sm-12">
      <div class="about-area">
        <div class="about-section">
          {%- section "about-section" -%}
        </div>
      </div>
    </div>
  </div>
</div>